@import "/src/colors.scss";
@import "/src/lib.scss";

nav {

    // width: 100vw;
    width: calc(100vw - .4rem);
    height: fit-content;
    padding: 2rem 6rem;
    font-weight: 500;
    position: sticky;
    top: -1rem;
    z-index: 1000;

    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper-first,
    .wrapper-second {
        width: fit-content;
        display: inline-block;
        display: flex;
        gap: .75rem;

        .nav-wrapper {
            display: flex;
            width: fit-content;
            border: 2px solid $border-color;
            border-radius: 1.25rem;
            overflow: hidden;

            .nav-item {
                padding: .75rem 2rem;
                border-inline-end: 2px solid $border-color;
                transition: color 250ms ease-in-out;
                color: lighten($color, 50);


                &:hover {
                    color: $color;
                }

                &.active {
                    background-color: $color;
                    color: $background-color;
                    border: none;
                }

                &:last-child {
                    border-inline-end: none;
                }
            }
        }
        .nav-menu-icon {
            @include b-icon("/src/assets/menu-burger.svg", 3.25rem, 1.2rem);
            @include border;
            border-radius: 1.3rem;
            cursor: pointer;
        }

        .nav-icon {
            $size: 3.25rem;

            display: inline-block;
            width: $size;
            height: $size;
            padding: .8rem;

            border: 2px solid $border-color;
            border-radius: 1.3rem;
            cursor: pointer;

            img {
                display: block;
                width: 100%;
                height: 100%;

                object-fit: contain;
            }
        }
    }
}
@media (width < 920px){
    nav{
        padding-inline: 4rem;
        padding-block-end: 1.2rem;
    }
}
@media (width < 600px){
    nav{
        padding-inline: 2rem;
        padding-block-end: 1rem;
    }
}
@media (width < 400px){
    nav{
        padding-inline: 1rem;
        padding-block-end: 1rem;
    }
}