@import "/src/colors.scss";
@import "/src/lib.scss";

nav {

    // width: 100vw;
    width: calc(100vw - .4rem);
    height: fit-content;
    padding: 2rem 6rem;
    font-weight: 500;
    position: sticky;
    top: -1rem;
    z-index: 1000;

    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper-first,
    .wrapper-second {
        width: fit-content;
        display: inline-block;
        display: flex;
        gap: .75rem;

        .nav-wrapper {
            display: flex;
            width: fit-content;
            // border: 2px solid $border-color;
            @include border;
            border-radius: 1.25rem;
            overflow: hidden;

            .nav-item {
                padding: .75rem 2rem;
                // border-inline-end: 2px solid $border-color;
                @include border;
                // transition: color 250ms ease-in-out;
                color: lighten($color, 50);


                &:hover {
                    color: $color;
                }

                &.active {
                    background-color: $primary;
                    color: $background-color;
                    border: none;
                }

                &:last-child {
                    border-inline-end: none;
                }
            }
        }

        .nav-menu-icon {
            @include b-icon("/src/assets/menu-burger.svg", 3.25rem, 1.2rem);
            @include border;
            border-radius: 1.3rem;
            cursor: pointer;
            // position: relative;
            &.active{
                @include b-icon("/src/assets/cross-small.svg", 3.25rem, 1.2rem);
            }
        }

        .nav-icon {
            $size: 3.25rem;

            display: inline-block;
            width: $size;
            height: $size;
            padding: .8rem;

            // border: 2px solid $border-color;
            @include border;
            border-radius: 1.3rem;
            cursor: pointer;

            img {
                display: block;
                width: 100%;
                height: 100%;

                object-fit: contain;
            }
        }
    }
}

.nav-menu-low {
    display: block;
    position: fixed;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex-center;
    flex-direction: column !important;

    width: fit-content;
    height: fit-content;
    border-radius: 4rem;
    background-color: $background-color;
    z-index: 100;
    overflow: hidden;
    @include border;
    padding: 3rem 1rem;
    box-shadow: 0 0 8rem rgb(190, 190, 190);

    transition: top 300ms ease-in-out;

    &.active{
        top: 50%;
    } 
    .nav-item {
        width: min(21rem, 80vw) !important;
        display: block;
        background-color: $background-color;
        width: fit-content;
        padding: 1rem 5rem;
        // border-block-end: 2px solid $border-color;
        text-align: center;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 1.3rem;

        &.active{
            background-color: $color;
            color: $background-color;
        }
        // &:first-child{
        //     border-block-start: 1px solid $border-color;
        // }
        // &:last-child{
        //     border: none;
        // }
    }
}

@media (width < 920px) {
    nav {
        padding-inline: 4rem;
        padding-block-end: 1.2rem;
    }
}

@media (width < 600px) {
    nav {
        padding-inline: 2rem;
        padding-block-end: 1rem;
    }
    .nav-menu-low{
        border-radius: 2rem;
    }
}

@media (width < 400px) {
    nav {
        padding-inline: 1rem;
        padding-block-end: 1rem;
    }
}