@import "/src/colors.scss";
@import "/src/lib.scss";

.collection-page {
    .tool-bar {
        padding-block-end: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        .search-wrapper {
            height: 3.25rem;

            form {
                @include flex-center;
                gap: .75rem;
            }

            .search-box {
                font-family: inherit;
                padding-inline: 1.5rem;
                width: 25rem;
                height: 3.3rem;
                background-color: $background-color;
                color: $color;
                font-size: .85rem;
                border-radius: 1.25rem;

                @include border;

                &:focus{
                    @include border;
                    border-color: $primary !important;
                    border-width: 1px !important;
                }
            }

            .search-btn {
                $size: 3.25rem;
                padding: 1rem;

                @include b-icon("/src/assets/search.svg", 3.25rem, 1.1rem);
                @include border;
                background-color: $background-color;
                border-radius: 1.3rem;
            }
        }

        .options-wrapper {
            @include flex-center;
            gap: .7rem;

            .sort-btn,
            .new-btn {
                @include border;
                padding: .8rem 3.5rem .8rem 1.2rem;
                border-radius: 1.25rem;
                position: relative;
                cursor: pointer;
                background-color: $background-color;

                &:focus {
                    background-color: black;
                }

                .option-arrow {
                    top: 50%;
                    right: .6rem;
                    transform: translateY(-50%);
                    position: absolute;
                    @include border;
                    @include b-icon("/src/assets/angle-small-down.svg", 1.8rem, .8rem);
                    border-radius: .7rem;
                    pointer-events: none;
                    // background-color: $primary;
                    // transition: 200ms transform ease-in-out;

                    &.active {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }

                .option-arrow-new {
                    top: 50%;
                    right: .6rem;
                    transform: translateY(-50%);
                    position: absolute;
                    @include border;
                    @include b-icon("/src/assets/plus-small.svg", 1.8rem, 1.1rem);
                    border-radius: .7rem;
                    pointer-events: none;

                    &.active {
                        transform: translateY(-50%) rotate(45deg);
                        border-radius: 5rem;
                    }
                }
            }

            .new-container-wrapper {
                position: fixed;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1001;
                @include flex-center;
                flex-direction: column;
                background-color: $background-color;
                width: 100vw;
                height: 100vh;
                transition: background-color 500ms ease-in-out;

                &.active {
                    top: 0rem;
                    background-color: rgba($color, .6);
                }

                .new-container {
                    @include flex-center;
                    flex-direction: column;

                    width: min(48rem, 90%);
                    min-height: fit-content;
                    max-height: 100vh;
                    overflow-y: scroll;
                    // backdrop-filter: blur(6px);
                    background-color: $background-color;
                    padding: 1.8rem 3rem 1.5rem;
                    border-radius: 2rem;
                    @include border;

                    transform: translateY(100%);
                    transition: transform 500ms ease-in-out;

                    &.active {
                        transform: translateY(0);
                    }

                    .nav-bar {
                        @include flex-center;
                        justify-content: space-between;
                        height: fit-content;
                        width: 100%;

                        .close-btn {
                            display: inline-block;
                            @include b-icon("/src/assets/cross-small.svg", 3.25rem, 1.25rem);
                            @include border;
                            border-radius: 1.3rem;
                            cursor: pointer;
                        }
                    }

                    .form-container {
                        flex-grow: 1;
                        padding: 1rem 0rem 2rem;
                        @include flex-center;
                        flex-direction: column;
                        width: 100%;

                        .error-wrapper {
                            font-size: .5rem !important;
                        }

                        form {
                            width: 100%;
                            padding: 0 4rem;

                            input,
                            textarea {
                                margin-block-end: 1rem;
                                width: 100%;
                                font-size: .85rem;
                            }



                            @keyframes shake {
                                10% {
                                    transform: translate(-10px, -.8rem);
                                }

                                30% {
                                    transform: translate(10px, -.8rem);
                                }

                                50% {
                                    transform: translate(-10px, -.8rem);
                                }

                                70% {
                                    transform: translate(10px, -.8rem);
                                }

                                90% {
                                    transform: translate(0, -.8rem);
                                }
                            }

                            .phone-email-wrapper {
                                @include flex-center;
                                gap: .8rem;

                                div {
                                    width: 100%;
                                }

                                .phone-wrapper {
                                    flex: 1;
                                }

                                .email-wrapper {
                                    flex: 2;
                                }
                            }

                            .select-collection-wrapper {
                                width: 100%;
                                @include flex-center;
                                gap: .8rem;
                                margin-block-end: 1rem;

                                .selected-collection {
                                    flex-grow: 1;
                                    @include border;
                                    border-radius: 1rem;
                                    height: 3.25rem;
                                    @include flex-center;
                                    font-size: .85rem;
                                }

                                .select-collection-btn-wrapper {
                                    position: relative;

                                    .select-collection-btn {
                                        @include b-icon("/src/assets/layer-plus.svg", 3.25rem, 1.1rem);
                                        @include border;
                                        border-radius: 1.2rem;
                                        cursor: pointer;
                                    }

                                    .collection-container-wrapper {
                                        display: none;
                                        flex-direction: column;
                                        position: absolute;
                                        bottom: calc(100% + 1rem);
                                        right: 0;
                                        border-radius: 2rem;
                                        @include border;
                                        background-color: $background-color;
                                        box-shadow: 0 0 3rem rgb(202, 202, 202);
                                        padding: 1rem 1.5rem;
                                        min-height: fit-content;
                                        max-height: 16rem;
                                        width: min(80vw, 18rem);

                                            &[data-active=true]{
                                                display: flex;
                                            }
                                        .search-input{
                                            max-width: 100%;
                                            margin-block-end: 1rem;
                                            padding-block: .9rem;
                                        }
                                        .collection-options-container{
                                            flex: 1;
                                            overflow-y: scroll;
                                            padding-inline-end: .5rem;

                                            .collection-item{
                                                padding: .7rem 1rem;
                                                @include border;
                                                border-color: transparent;
                                                border-radius: 1rem;
                                                font-size: .85rem;

                                                &[data-select=true]{
                                                    background-color: $color;
                                                    color: $background-color;
                                                }
                                                &:hover{
                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .btn-wrapper {
                                display: flex;
                                gap: .8rem;

                                button {
                                    border-radius: 1.18rem;
                                    padding: 1rem;

                                    &.submit-btn {
                                        width: 70%;
                                        background-color: rgba($color: rgb(0, 188, 0), $alpha: .025);
                                        border: 1.8px solid rgb(0, 202, 0);
                                        color: rgb(0, 186, 0);
                                    }

                                    &.close-btn {
                                        flex-grow: 1;
                                        background-color: $background-color;
                                        @include border;
                                        color: $color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .collection {
        padding-block: .5rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem 1.8rem;

        .collection-card-wrapper {
            height: fit-content;
            width: 100%;
            padding: 1rem 2rem;
            position: relative;

            font-size: 1.05rem;
            font-weight: 400;
            // border: 2px solid $border-color;
            @include border;
            border-radius: 1.9rem;
            box-shadow: 0 0 1rem rgb(235, 235, 235);
            // border-color: $primary;

            transition: border-color 200ms ease-in-out;

            &:hover {
                border-color: darken($color: $border-color, $amount: 75);
                border-color: $primary;
            }

            // .collection-name{

            // }
            .collection-member-count {
                span {
                    font-weight: 500;
                    font-size: 3rem !important;
                    margin-inline-end: .2rem;
                }
            }

            .expand-arrow {
                position: absolute;
                top: 1rem;
                right: 1rem;
                border-radius: 100rem;
                @include border;
                @include b-icon("/src/assets/angle-small-down.svg", 1.5rem, .8rem)
            }
        }
    }
}

@media (width <=1100px) {
    .collection-page {
        .tool-bar {
            flex-direction: column;
            align-items: end;

            .search-wrapper {
                width: 100%;

                form {
                    @include flex-center;
                    width: 100%;

                    input {
                        flex: 1;
                        min-width: 6rem;
                    }
                }
            }
        }

        .collection {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (width <=750px) {
    .collection-page {
        .new-container {
            padding-block: 1.2rem !important;
            border-radius: 1.5rem !important;

            .form-container {
                padding-block: 1.5rem !important;

                form {
                    padding-inline: 0rem !important;
                }
            }
        }

        .collection {
            grid-template-columns: 1fr;
        }
    }
}

@media (width <=500px) {
    .collection-page {
        .new-container {
            padding: 1.5rem 1.8rem !important;
            width: 100dvw !important;
            height: 100vh !important;
            border-radius: 0rem !important;
            display: block !important;

            .form-container {
                padding-block-end: 0rem !important;

                form {
                    .btn-wrapper {
                        flex-direction: column;
                        flex-direction: column-reverse;

                        button {
                            width: 100% !important;
                        }
                    }

                    .phone-email-wrapper {
                        flex-direction: column;
                        gap: 0 !important;
                    }
                }
            }
        }
    }
}