@import "./colors.scss";
@import "./scrollbar.scss";

:root {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: $background-color;
  color: $color;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: $color;
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input,
textarea {
  padding: 1rem 1.5rem;
  border-radius: 1.18rem;
  border: 2px solid $border-color;
  background-color: $background-color;
  color: $color;
  font-size: .9rem;
  font-family: "Poppins", sans-serif;
  resize: none;

  &:focus {
    outline: none;
    border: 2px solid $color !important;
  }
}

.main-body {
  width: calc(100vw - .4rem);
  min-height: 90vh;
  max-height: fit-content;

  padding: 1rem 6rem;
}

// body:has(.active.new-collection-container-wrapper) {
//   overflow-y: hidden;
// }

.option-container-right {
  position: absolute;
  top: calc(100% + .8rem);
  right: 0;
  border: 2px solid $border-color;
  padding: .8rem 1.5rem;
  width: fit-content;
  height: fit-content;
  border-radius: 1.8em;
  z-index: 5;
  text-wrap: nowrap;

  // backdrop-filter: blur(100px);
  box-shadow: 0 0 2rem rgb(210, 210, 210);
  background-color: $background-color;
  display: none;

  &[data-show="true"] {
    display: block;
  }

  .options {
    text-align: center;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .8rem;
    border: 2px solid $background-color;
    position: relative;

    &.selected {
      border: 2px solid lighten($color: $border-color, $amount: 5);
    }

    // &.selected::before{
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   left: .8rem;
    //   transform: translateY(-50%);
    //   display: inline-block;
    //   width: .4rem;
    //   height: .4rem;
    //   background-color: $color;
    //   border-radius: 50rem;
    // }
    &:hover {
      border: 2px solid darken($border-color, 5);
    }
  }
}

@media (width < 920px) {
  .main-body {
    padding-inline: 4rem;
  }
}
@media (width < 600px) {
  .main-body {
    padding-inline: 2rem;
  }
}
@media (width < 400px) {
  .main-body {
    padding-inline: 1rem;
  }
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */