@import "./colors.scss";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin b-icon($url: "", $size: 1rem, $fit: contain) {
    width: $size;
    aspect-ratio: calc($size/$size);
    background-image: url($url);
    background-size: $fit;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin border {
    border: 1px solid $border-color;
}